

.marquee {
    white-space: nowrap;
}

.marquee-div {
    overflow: hidden;
    animation: move-right-to-left linear 10.5s infinite;
}


@keyframes move-right-to-left {
    0% {
        transform: translateX(100%);
    }
    50%{
        transform: translateX(-100%) 
    }
    75% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%)
    }
}