@import "colors";

#github-stats {
  width: 100%;
  height: auto;

  background-color: white;
  color: black;



  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  #stats {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    > div {
      width: 50%;
      > img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  #github-stats {
    height: auto;
    > div {
      width: 90%;
      margin: auto;
      margin-top: 40px;
    }

    #stats {
      width: 90%;
    }

    #statsd{
      width: 50%;
    }
  }
}

@media screen and (max-width: 426px) {
  #github-stats {
    height: auto;

    > h1 {
      font-size: 40px;

      > span {
        color: $white;
      }
    }

    > div {
      width: 90%;
      margin: auto;
      margin-top: 40px;
    }
    #statsd{
      width: 80%;
    }
    #stats {
      width: 90%;
      flex-direction: column;

      > div {
        width: 90%;
        margin: auto;
      }
    }
  }
}
