@import "colors";

#home {
  padding: 80px 0 0 0;
  background-color:white;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "monospace";
  margin-top: 0px;

  > div:first-child {
   margin: auto;
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;
    

    > span {
      margin: 0;
      padding: 0;
      color: black;
    }

    > span:first-child {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 20px;
    }

    > span:nth-child(2) {
      font-size: 50px;
      margin-bottom: 20px;
      font-weight: 500;
      letter-spacing: 2px;
    }

    > div > span {
      font-size: 35px;
      font-weight: 500;
      color: black;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 1.5rem;

      a {
        text-decoration: none;

        > svg {
          color: black;
          font-size: 26px;
        }

        > button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: none;
          outline: none;
          font-weight: bold;
          color: $white;
          background-color:  black;
          font-size: 18px;
          text-transform: uppercase;
          border-radius: 10px;
          cursor: pointer;
          padding: 14px 20px;
        }
      }
    }
  }


}

@media screen and (max-width: 820px) {
  #home {
    height: auto;
    flex-direction: column-reverse;
    margin-bottom: -300px;
    margin-top: 0px;
   

    > div:first-child {
      width: 50%;

      > span:first-child {
        font-size: 22px;
        margin-top: -300px;
      }

      > span:nth-child(2) {
        font-size: 35px;
        margin-bottom: 0px;
      }

      > div > span {
        font-size: 25px;
      }
    }

   
  }
}

@media screen and (max-width: 426px) {
  #home {
    flex-direction: column-reverse;
    height: auto;
    padding: 100px 0 0 0;
    margin-top: 250px;
    margin-bottom: 0px;

    > div:first-child {
      width: 100%;
      height: auto;
      margin: 30px 0px;

      > span:first-child {
        font-size: 22px;
      }

      > span:nth-child(2) {
        font-size: 30px;
        margin-bottom: 0px;
      }

      > div > span {
        font-size: 20px;
      }

      > div {
        gap: 1rem;
      }
    }

   
  }
}
