

#home {
  width: 100%;
  height: auto;
  padding: 80px 0 0 0;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  > div:first-child {
    margin-top: -30px;
    width: 45%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 60px;

    > span {
      margin: 0;
      padding: 0;
    }

    > span:first-child {
      font-size: 2vmax;
      font-weight: 400;
      margin-bottom: 20px;
    }

    > span:nth-child(2) {
      font-size: 2.5vmax;
      text-transform: capitalize;
      margin-bottom: 20px;
      font-weight: 500;
      letter-spacing: 2px;
    }

    > div > span {
      font-size: 1.9vmax;
      font-weight: 500;
      color: black;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      gap: 1.5rem;

      a {
        text-decoration: none;

        > svg {
          color: black;
          font-size: 26px;
        }

        > button {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border: none;
          outline: none;
          font-weight: bold;
          color: white;
          background-color: black;
          font-size: 0.9rem;
          text-transform: uppercase;
          border-radius: 10px;
          cursor: pointer;
          padding: 14px 20px;
        }
      }
    }
  }

  > div:last-child {
    margin-top: -30px;
    width: 30%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      width: 75%;
      border-radius: 50%;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      border: 1px solid black;
    }
  }
}

@media screen and (max-width: 900px) {
  #home {
    height: auto;
    flex-direction: column-reverse;
    margin-top: 10px;
    margin-bottom: 10px;
    
    > div:first-child {
      width: 80%;
      margin: auto;
      height: auto;
      margin-top: 10px;
      

      > span:first-child {
        font-size: 2vmax;
        
      }

      > span:nth-child(2) {
        font-size: 2.5vmax;
        margin-bottom: 0px;
        
      }

      > div > span {
        font-size: 1.9vmax;
      }
      div {
      
  
        a {
          text-decoration: none;
  
          > svg {
            color: black;
           
          }
  
          > button {
            
            padding: 10px 10px;
          }
        }
      }
    }

    > div:last-child {
      width: 100%;
      height: auto;
      margin-top: 10px;
      

      > img {
        width: 42%;
        
      }
    }
  }
}

@media screen and (max-width: 454px) {
  #home {
    flex-direction: column-reverse;
    height: auto;
    padding: 100px 0 0 0;

    > div:first-child {
      width: 100%;
      height: auto;
      margin: 30px 0px;

      > span:first-child {
        font-size: 2vmax;
      }

      > span:nth-child(2) {
        font-size: 2.5vmax;
        margin-bottom: 0px;
      }

      > div > span {
        font-size: 1.9vmax;
      }

      div {
        gap: 1rem;
  
        a {
          text-decoration: none;
  
          > svg {
            color: black;
           
          }
  
          > button {
            
            padding: 9px 9px;
          }
        }
      }
    }

    > div:last-child {
      width: 100%;
      margin-top: 0px;
      height: auto;

      > img {
        width: 60%;
      }
    }
  }
}
