

.navbar {
  width: 100%;
  height: 60px;
  background-color: white ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  top: 0px;
  z-index: 10;

  // Logo
  > div:first-child {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    > a {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      > p {
        color: black;
        font-size: 0.9rem;
        margin-left: 1rem;
        font-weight: 500;
        cursor: pointer;
        font-style: italic;

        > span {
          color: black;
        }

        &:hover {
          font-weight: bold;
        }
      }
    }
  }

  // All Routes
  > div:nth-child(2) {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 2rem;
    font-size: 13px;

    > a {
      text-decoration: none;
      color: black;
      font-weight: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      transition: 1s ease-in-out;
      position: relative;

      &:hover{
        color: black;
      }

      &:hover::after,
      &.active::after {
        content: "";
        width: 80%;
        height: 2px;
        background: black;
        position: absolute;
        bottom: -4px;
        left: 0px;
      }
    }
  }

  // For Mobile Screen
  > div:last-child {
    display: none;

    > span {
      color: white;
      cursor: pointer;
      margin-right: 2rem;
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 1297px) {
  .navbar {
    // Logo
    > div:first-child {
      width: 15%;

      > a > p {
        font-size: 1rem;
      }
    }

    // All Routes
    > div:nth-child(2) {
      width: 80%;
      gap: 1rem;
      > a {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 1145px) {
  .navbar {
    // Logo
    > div:first-child {
      width: 15%;

      > a > p {
        font-size: 1rem;
      }
    }

    // All Routes
    > div:nth-child(2) {
      width: 80%;
      gap: 1rem;
      > a {
        font-size: 10px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    // Logo
    > div:first-child {
      width: 12%;

      > a > p {
        font-size: 0.5rem;
      }
    }

    // All Routes
    > div:nth-child(2) {
      width: 80%;
      gap: 1rem;
      > a {
        font-size: 10px;
      }
    }
  }
}
@media screen and (max-width: 940px) {
  .navbar {
    // All Routes
    > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      top: 60px;
      right: -50%;
      width: 50%;
      height: 100vh;
      background: white;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      transition: 0.3s ease-in-out;
      gap: 1.5rem;

      > a:first-child {
        margin-top: 40px;
      }

      > a {
        margin-left: 40px;
      }
    }

    // For Mobile Screen
    > div:last-child {
      display: block;
      > span {
        cursor: pointer;
        font-size: 40px;
        margin-left: 20px;
        
      }
    }
  }

  #nav.active {
    right: 0px;
  }
}

@media screen and (max-width: 426px) {
  .navbar {
    // Logo
    > div:first-child > a > p {
      font-size: 16px;
    }

    // All Routes
    > div:nth-child(2) {
      right: -70%;
      width: 70%;
    }

    > div:last-child {
      display: block;
      > span {
        cursor: pointer;
        font-size: 30px;
        margin-left: 60px;
        
      }
    }
  }
}
