.Skills {
  border: solid 1px black;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 150px;
  height: 150px;
  text-align: center;
  display: grid;
  align-items: center;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;

}

.Skill_icons {
  font-size: 55px;
  margin: auto;
  color: black;
}

.skill_text {
  font-weight: bold;
  margin-top: 10px;
  color: black;
  font-size: 22px;
}