.skills-card{
  border: solid 1px black;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 150px;
  height: 150px;
  text-align: center;
  display: grid;
  align-items: center;
  align-content: center;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  color: black;
}
.skills-card:hover{
  border: solid 1px rgb(255, 255, 255);
  background-color: black;
  color: white;
}
.skills-card-img{
  font-size: 55px;
  margin: auto;

}

.skills-card-name {
  font-weight: bold;
  margin-top: 10px;
  font-size: 22px;
}
@media screen and (max-width: 1025px) {
  .skills-card{
    border: solid 1px black;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 120px;
    height: 100px;
    text-align: center;
    display: grid;
    align-items: center;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: black;
  
  }

  .skills-card-img{
    font-size: 40px;
    margin: auto;
   
  }
  
  .skills-card-name {
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
  }
}