

.profilePicture {
  background-image: url("../../Data/img.png");
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: transform 3s linear;
}
.profilePicture:hover {
  transform: scale(1.1);
  transition: 1s ease-in;
  transition: transform 3s linear;
}
